/* === Pacifico - regular */
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: url("./font/Pacifico-Regular.eot");
	src: local("Pacifico Regular"),
		local("Pacifico-Regular"),
		url("./font/Pacifico-Regular.eot") format("embedded-opentype"),
		url("./font/Pacifico-Regular.woff2") format("woff2"),
		url("./font/Pacifico-Regular.woff") format("woff"),
		url("./font/Pacifico-Regular.ttf") format("truetype"),
		url("./font/Pacifico-Regular.svg") format("svg");
}

/* === Roboto - 100 */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url("./font/Roboto-Thin.eot");
	src: local("Roboto Thin"),
		local("Roboto-Thin"),
		url("./font/Roboto-Thin.eot") format("embedded-opentype"),
		url("./font/Roboto-Thin.woff2") format("woff2"),
		url("./font/Roboto-Thin.woff") format("woff"),
		url("./font/Roboto-Thin.ttf") format("truetype"),
		url("./font/Roboto-Thin.svg") format("svg");
}

/* === Roboto - regular */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url("./font/Roboto-Regular.eot");
	src: local("Roboto"),
		local("Roboto-Regular"),
		url("./font/Roboto-Regular.eot") format("embedded-opentype"),
		url("./font/Roboto-Regular.woff2") format("woff2"),
		url("./font/Roboto-Regular.woff") format("woff"),
		url("./font/Roboto-Regular.ttf") format("truetype"),
		url("./font/Roboto-Regular.svg") format("svg");
}



@font-face {
    font-family: 'archive';
    src: url('./font/archive-regular-webfont.woff2') format('woff2'),
         url('./font/archive-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
