$red : #F38787;
$black: #3D3D3D;
$yellow: #F0EDE2;

*{
  margin: 0;
  padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: $black;
	overflow-x: hidden;
}

h1{
	font-family: 'archive', serif;
	font-size: 72px;
	font-weight: bold;
}

h2{
	font-weight: 100;
	font-size: 36px;
}

h3{
	width:70%;
	font-weight: 100;
	font-size: 36px;
}

video, img{
	width:100%;
	height:auto;
}

.full{
	width: 100vw;
	height: 100vh;
	position: relative;
}

.container{
	padding: 50px;
}

.left{
	width:50%;
}

.right{
	left:50%;
}

.middle-y{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.buy{
	display:inline;
	font-family: 'Pacifico';
	float:right;
	font-size: 48px;
	right:0;
	transform: rotate(-7deg);
	background: -webkit-linear-gradient(0deg, rgba(37,127,183,1) 0%, rgba(236,47,76,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 1s infinite ease-out;

}

.background-gallery{
	position: absolute;
	width:100vw;
	height:100vh;
	background: no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#logo{
	position:fixed;
	top:50px;
	left:50px;
	z-index: 10;
	cursor: pointer;
}

#kit-title{
	margin-top:100px;
}

#landing{
	width:100vw;
	height:100vh;
}

#description{
	background-color: #F0EDE2;
	padding-top:200px;
	padding-bottom:200px;
}

#bgg2, #bgg3{
	display:none;
}

/* ANIMATIONS */
.bg-2-black{
	@keyframes animateBgToBlack{
		100%{
			background-color: $black;
		}
	}
	animation: animateBgToBlack 2s ease-out;
  	animation-fill-mode: forwards;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

